#breadcrumbs {
    background-color: #e9ecef;
}

.alert.header-message {
    border-radius: 0 !important;
}

body {
    font-family: 'latoblack', sans-serif;

    h2 {
        color: $pink;
    }

    .form-control {
        border-radius: 30px;
        height: 45px;

        &:focus {
            outline: 0;
            outline: none;
            box-shadow: none;
            border-color: $pink;
        }
    }

    .theme-btn {
        background-image: $gradiant-bg;
        -webkit-transition: all 500ms;
        transition: all 500ms;
        background-size: 200% auto;
        color: #fff !important;
        -webkit-box-shadow: 0px 20px 30px 0px rgb(12 0 46 / 10%);
        box-shadow: 0px 20px 30px 0px rgb(12 0 46 / 10%);

        &:hover {
            background-position: right center !important;
        }
    }

    .header-logo {
        width: 80px;
        height: auto;
    }
}

.page-header {
    padding: 100px 0;
}

.page-header:before {
    background: none;
}

.page-header {
    background: linear-gradient(to right, #FA319A 0%, #00E2FF 51%, #FA319A 100%);
    background-color: #FA139A;
}


.page-header {
    position: relative;
    background-size: 200% auto;
    position: relative;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    padding: 170px 0;
}

.page-header:before {
    position: absolute;
    content: '';
    background: linear-gradient(to right, rgb(218 72 167) 0%, rgb(1 227 255) 51%, rgb(0 226 255) 100%);
    background-size: 200% auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.thx {
    font-size: 1.6rem;
    font-weight: bold;
}

.borderB {
    font-size: 1.5rem;

    &:after {
        height: 3px;
        display: block;
        background: #77838f;
        width: 33%;
        content: "";
        margin: -11px auto 20px;

    }
}

.download {
    text-align: center;

    img {
       /* max-width: 20%;*/
    }
}

.recap{
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}

.labelrecap{
    background-color: #FA139A;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 110px;
}


.icoconf {
    color: #FA139A;
    font-size: 1.5rem;
}
.btnCard{
    padding: 0.25rem;
}
.other-btn2{
    color: #FA139A;
}

.container-row2 {

    .shadow {
        -webkit-box-shadow: 0px 20px 30px 0px rgb(12 0 46 / 10%);
        box-shadow: 0px 20px 30px 0px rgb(12 0 46 / 10%);
    }


}

.textarea_inscr::-webkit-input-placeholder { /* Chrome */
    color: #989898;
    padding: 4rem;

}

.textarea_inscr:-ms-input-placeholder { /* IE 10+ */
    color: #989898;
    padding: 4rem;

}

.textarea_inscr::-moz-placeholder { /* Firefox 19+ */
    color: #989898;
    opacity: 1;
    padding: 4rem;

}

.textarea_inscr:-moz-placeholder { /* Firefox 4 - 18 */
    color: #989898;
    opacity: 1;
    padding:4rem;

}

.removeBg{
    background:transparent !important;
}


.logRegis {
    float: left;
    width: 45%;
    margin-top: -3rem !important;
}

.inscriptionH2 {
    padding-top: 0rem;
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    float: left;
    text-align:center;
}

.page-header .shape-bottom img.bottom-shape {
    transform: scaleX(1);
}

.shape-bottom img.bottom-shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.lib_msg_promotional_code_ok, .remp_msg_promotional_code_ok{
    display: none;
    color:green;
    font-size:10px;
}
.lib_msg_promotional_code_ko, .remp_msg_promotional_code_ko{
    display: none;
    color:red;
    font-size:10px;
}


.drop {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: absolute;
    text-align: inherit;
    border-radius: 1rem;
    z-index: 999;

    padding: 0px;
    li{
        padding:13px 20px 13px 20px;
        &:hover{
            background:rgba(0,0,0,0.1);
            cursor:pointer;
        }
    }
}


.mt-1 {
    margin-top: -9px!important;
}

.margincenter{
    margin: 0 auto;
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 0px;

}
.control.is-loading::after {
    position:absolute!important;
    right:.625em;
    top:.625em;
    z-index:4
}

.green{
    border: 1px solid green !important;
}
