body {
    /*
    background-image: url("~/public/img/bg.jpeg");
    */
}

body {
    background-color: #f5f8fa;
}

.navbar-expand-md .navbar-collapse {
    flex-basis: unset;
}

.header-area nav {
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 1s;
}

.header-area.sticky nav {
    background-color: #FFF;
    transition: all 1s;
}

.header-connexion {
    padding: .5rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .95rem;
    background-color: #FFF;
    color: #FA319A;
    border: 1px solid #FA319A;
    transition: all 500ms;
    margin-right: 1rem;
}

.header-connexion:hover {
    padding: .5rem 1rem;
    background-color: #FA319A;
    color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .95rem;
    /* margin-left: 10rem; */
    transition: all 500ms;
    border: 1px solid #FA319A;
}

.navbar-nav li {
    padding: 15px 22px;
}

.navbar-nav li a {
    color: #000;
}

.navbar-nav {
    align-items: center;
}

.section-header p {
    font-size: 17px;
    font-family: 'orkneybold', sans-serif;
    margin-top: 2rem;
}

.section-header h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.section-header-style2 h2 {
    font-size: 40px;
}

.inner-box h3 {
    font-size: 20px;
}

.feature-block h3 {
    font-size: 18px;
}

.feature-block p, .description-block p {
    line-height: 1.7 !important;
}

.card-header h4 {
    font-size: 25px;
}

.start-home-content p {
    font-size: 17px;
}

.page-header {
    padding: 150px 0;
}

.title-box p {
    font-size: 17px;
    font-family: 'orkneybold', sans-serif;
    margin: 2rem 0;
    line-height: 1.9;
    text-align: center;
    color: #FFF;
}

.inscription-connexion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 468px) {
    .inscription-connexion {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0;
    }
}

@media (max-width: 468px) {
    .start {
        margin-bottom: 1rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #FA319A;
}

.section-header h2 {
    color: #00E2FF;
}

.header-area nav {
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 1s;
}

.header-area.sticky nav {
    background-color: #FFF;
    transition: all 1s;
}

.header-inscription {
    padding: .5rem 1rem;
    background-color: #FA319A;
    color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .95rem;
    transition: all 500ms;
    border: 1px solid #FA319A;
}

.header-inscription:hover {
    background-color: #FFF;
    color: #FA319A;
    border: 1px solid #FA319A;
    transition: all 500ms;
}

.navbar-nav li {
    padding: 15px 22px;
}

.navbar-nav li a {
    color: #000;
}

.site-logo a img {
    height: 80px;
}

.navbar-nav li a {
    font-size: 15px;
}

.navbar-nav li a {
    color: #000;
}

.navbar-nav li {
    padding: 15px 20px;
}

.navbar-nav li a {
    color: #77838f;
    text-transform: uppercase;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    padding: 0;
    display: inline-block;
}

.navbar-expand-md .navbar-collapse {
    justify-content: space-evenly !important;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.google-button {
    width: 210px !important;
    margin-right: 0 !important;
}

.apple-button {
    width: 210px !important;
}

.app-button {
    margin-top: 2rem;
}

.app-button .slider-button-title p, .google-button .slider-button-title p {
    font-size: 16px !important;
}

li {
    list-style: none;
}

.app-button .slider-button-title h3, .google-button .slider-button-title h3 {
    font-size: 21px !important;
    line-height: 25px !important;
}

p {
    line-height: 1.9;
    color: #77838f;
}

.login-page .container-fluid a {
    margin-top: 1rem;
}

.login-desc a {
    margin-left: 0.5rem;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    color: #FA319A;
    cursor: pointer !important;
}

.login-page .container-fluid a {
    margin-top: 1rem;
}

.other-btn {
    color: #FA319A;
    background: rgba(144, 30, 193, 0.07);
    transition: all 500ms;
}

.container-row {
    margin-top: 70px;
}

.login-form h1 {
    font-weight: 700;
    font-size: 23px;
}

.login-form .sub-title {
    color: #A1A5B7;
    font-weight: 500;
}

.mockup {
    width: 520px;
}

.mockup-title {
    font-size: 20px;
    font-weight: 600;
}

.card {
    border: 0;
    border-radius: 1.25rem;
    width: 100%;
}

.login-form {
    width: 100%;
}

.login-form {
    .form-control {
        padding-left: 35px;
    }

    .input-icon {
        .icon {
            position: absolute;
            z-index: 9;
            left: 31px;
            top: 15px;
            color: #8c98a4;
            font-size: 16px;
        }
    }

    .btn-link {
        color: $pink;
    }

    .btn {
        border-radius: 30px;
        height: 45px;
    }

    .logo {
        width: 180px;
        height: auto;
    }


}

.header-connexion, .header-inscription {
    @media (min-width: 1201px) and (max-width: 1400px) {
        font-size: 0.7rem !important;
    }
}

.navbar-expand-md .navbar-nav li a {
    @media (min-width: 1201px) and (max-width: 1300px) {
        font-size: 13px !important;
    }
}

.navbar-expand-md .navbar-nav {
    @media (min-width: 768px) {

        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.site-logo a img {
    @media (min-width: 1201px) and (max-width: 1300px) {
        width: 150px;
    }
}

.navbar > .container, .navbar > .container-fluid {
    @media screen and (min-width: 767px) and (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
    }
}

.navbar-expand-md .navbar-collapse {
    @media screen and (min-width: 767px) and (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.container-row {
    @media screen and (min-width: 767px) and (max-width: 1200px) {
        margin-top: 170px;
    }
}



#msform {

    margin: 50px auto;
    text-align: center;
    position: relative;

    @media screen and (max-width: 468px) {
        max-width:100%;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
        /* Styles pour cette Media Queries */

        width: 100%;
        margin: 0 -13%;
    }
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3rem;
    /*
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.4);
    */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;

    @media screen and (max-width: 468px) {
        padding: 0px;
        width: 100%;
        margin: 0 -5%;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) {
        /* Styles pour cette Media Queries */

        width: 100%;
        margin: 0 -13%;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) and (orientation: portrait) {
        /* Styles pour cette Media Queries */

        width: 100%;
        margin: 0 13%;
    }

}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) and (orientation: portrait) {
        /* Styles pour cette Media Queries */
        margin: 0 -30%;
    }
}

.buttonFormInsc{
    border-radius: 3rem;
    border: 1px solid #3BBDDB;
    background: url(/images/icons/fleche.png);
    background-size: 5% auto;
    background-repeat: no-repeat;
    background-position: 95%;

    padding: 15px;

    margin-bottom: 10px;
    width: 60%;
    box-sizing: border-box;


    @media screen and (max-width: 468px) {
        width:100%;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait){
        /* Styles pour cette Media Queries */

        width: 100%;

    }

}

/*inputs*/
.formInsc input, .formInsc textarea {
    border-radius: 3rem;
    border: 1px solid #3BBDDB;
    width: 100%;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    box-sizing: border-box;

}

.firstTopRemp{
    margin-top: 0 !important;
    top: 22rem !important;
    position: absolute !important;
}


.btnsndststep, .btnsndststep2{
    top: 18.8rem !important;
}


.inf_remplacant_block input::placeholder,
.inf_liberal_block input::placeholder,
.patient_block input::placeholder,

{



    color:#989898;
}

    /*buttons*/
#msform .action-button {
    width: 125px;
    cursor: pointer;
    padding: 10px;
    margin: 35px 5px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3rem;
    border: 0;


    color: #00E2FF;
}


input:focus-visible {
    outline: none;
}

.prevB{
    background: url(/images/icons/fleche_prev.png);
    background-size: 8% auto;
    background-repeat: no-repeat;
    background-position: 6%;
    position: absolute;
    top: 15.8rem;
    right: 9rem;
}
.nextB{
    background: url(/images/icons/fleche.png);
    background-size: 8% auto;
    background-repeat: no-repeat;
    background-position: 95%;
    position: absolute;
    top: 15.8rem;
    right: 0rem;

    @media screen and (max-width: 468px) {
        top: 30.8rem;
        right: -2rem;
    }


    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait) {
        /* Styles pour cette Media Queries */

        /*right:-10rem;*/
    }

}

.btnfirststep{
    /*right:-10rem;*/
    top: 16rem;

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait) {
        /* Styles pour cette Media Queries */

        /*right:-10rem;*/
        top: 16rem;
    }



}

.prevBPatient{

    top: 19.8rem;
}
.nextBPatient{

    top: 19.8rem;
    background:#FA139A;
    color:white !important;
}

.title_insc{
    color: #989898;
    font-size: 23px;
}

.radioMensuelBlockPrice, .radioMensuel2BlockPrice{
    display: none;
}

.textarea_inscr{
    border: 0 !important;
    border-radius: 25px !important;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.3) !important;
}

.step2PinfLib, .step2NinfLib{
    top: 11.3rem !important;
}
.step3PinfLib, .step3NinfLib, .step4PinfLib, .step4NinfLib{
    position: initial;
}

.step5PinfLib{
    top: 23.8rem !important;
    left: 25rem;

    @media screen and (min-width: 1700px) {
        top: 18rem !important;
        left: 38rem;
    }

    @media screen and (max-width: 468px) {
        top: 20.8rem !important;
        left: -3rem;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait) {
        /* Styles pour cette Media Queries */

      left:12rem;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:landscape) {
        /* Styles pour cette Media Queries */

        top: 29.8rem !important;
        left: 16rem;
    }
}


.step5NinfLib{
    top: 23.8rem !important;

    background:#FA139A;
    color:white !important;
    right: 2rem;

    @media screen and (min-width: 1700px) {
        top: 18rem !important;
    }


    @media screen and (max-width: 468px) {
        top: 20.8rem !important;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait) {
        /* Styles pour cette Media Queries */

        right:-10rem;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:landscape) {
        /* Styles pour cette Media Queries */
        top: 29.8rem !important;
        right: 7rem;
    }

}

.step6PinfLib{
    top: 18.8rem !important;
    left: 25rem;

    @media screen and (min-width: 1700px) {
        top: 15rem !important;
        left: 38rem;
    }


    @media screen and (max-width: 468px) {
        top: 20.8rem !important;
        left: -1rem;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait) {
        /* Styles pour cette Media Queries */

        top : 22.8rem !important;
       left: 13rem;
    }
}


.step6NinfLib{
    top: 18.8rem !important;

    background:#FA139A;
    color:white !important;
    right: 2rem;

    @media screen and (min-width: 1700px) {
        top: 15rem !important;

    }


    @media screen and (max-width: 468px) {
        top: 20.8rem !important;
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait) {
        /* Styles pour cette Media Queries */

        top : 22.8rem !important;
        right: -10rem;
    }

}

.formError{
    border: 1px solid red !important;
}


.blocLeftPrice{
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 2rem;
    background:white;


    @media screen and (max-width: 468px) {
        margin-bottom: 5rem;
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px)  and (orientation:portrait) {
        /* Styles pour cette Media Queries */

        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 30% 20% 0;
        left: 30%;
    }
}


.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    width: 150px;
}

.radio-toolbar label {
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    color:#FA139A;
    border-radius: 10px;
    width: 110px;
}


.blocRighttPrice .bloc_title{
    padding-bottom: 20px;
}
.blocRighttPrice{

    box-shadow: 0px 11px 20px rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 2rem;
    background: white;
    padding-bottom: 7rem;

    @media screen and (max-width: 468px) {
        padding: 0rem;
        &.offset-1{
            margin-left: 0px;
        }
    }


    @media only screen and (min-device-width : 768px) and (max-device-width : 1180px) and (orientation:portrait) {
        /* Styles pour cette Media Queries */

        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0 30% 50% 0;
        left: 30%;
    }

}

.pointPositif li{
    list-style: disc;
    text-align: left;

}
.pointPositif li::marker{
    color: #3BBDDB;
    background: #3BBDDB;

}


.radioAnnuelBlockPrice .price, .radioMensuelBlockPrice .price,
.radioAnnuel2BlockPrice .price, .radioMensuel2BlockPrice .price,
.priceRecap
{
    color: #00dffc;
    font-weight: bold;
}



.radioAnnuelBlockPrice .priceSubTitle,
.radioAnnuel2BlockPrice .priceSubTitle
{
    color: #989898;
    font-weight: 100;
    font-size: 10px;
}

#remp_recap .priceSubTitle, #inf_recap .priceSubTitle {
    color: #989898;
    font-weight: 100;
    font-size: 10px;
}


.radio-toolbar input[type="radio"]:checked + label {
    background-color:#FA139A;
    border-radius: 10px;
    color: white;

}

.radio-toolbar input[type="radio"]:focus + label {
    /* border: 2px dashed #444;*/
}


.logo-landing3{

    width: 112px !important;
    margin-top: -21px;
    margin-left: -29px;
}
.titlerose{
    color : #FA139A;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.titlerose2{
    color : #FA139A;
    text-transform: uppercase;
    font-size: 0.98rem;
}

.titlerose:after, .titlerose2:after{
    content:"";
    width: 100%;
    height: 5px;
    background: #FA139A;
    display: block;
    margin: 0 auto;
}

#msform .action-button:hover, #msform .action-button:focus {
    /*box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;*/
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 2rem;
    color: #00E2FF;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}


span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
span.twitter-typeahead {
    width: 100%;
}
.input-group span.twitter-typeahead {
    display: block !important;
    height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
    border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
    height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
    height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 46px !important;
}


.bootstrap-tagsinput {
    border-radius: 3rem;
    border: 1px solid #3BBDDB;
    width: 100%;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    box-sizing: border-box;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: 100%;
    max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #09F;
    padding: 4px;
    border-radius: 4px;
    font-size: 10px;
    float: left;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.tt-hint{
    display: none;
}
