// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'latoblack', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #FA139A;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gradiant-bg: linear-gradient(to right, #FA319A 0%, #00E2FF 51%, #FA319A 100%);
