.calendar-page{
    .fc .fc-button {
        background-color: #0395fc;
        border-color: #0395fc;
        &.fc-button-active,
        &:hover,
        &.fc-button-primary:disabled{
            background-color: #005ea0 !important;
            border-color: #005ea0 !important;
        }
    }
    .absent {
        position: absolute;
        left: 13px;
        top: 13px;
        height: 15px;
        border-radius: 50%;
        width: 15px;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 11px;
        background: #eb0e0e;
    }
    .fc-sticky{
        position: relative;
    }
    .fc-daygrid-dot-event .fc-event-title{
        overflow: visible;
    }
    .dot{
        display: inline-block;
        box-sizing: content-box;
        width: 0;
        height: 0;
        border: 5px solid ;
        border-radius: 5px;
        border-radius: calc(var(--fc-list-event-dot-width, 10px) / 2);
        &.dot-treatment{
            border-color: #17bddb;
        }
        &.dot-covid-treatment{
            border-color: #9c27b0;
        }
        &.dot-rdv{
            border-color: #bf9824;
        }
        &.dot-vaccine{
            border-color: #df5da4;
        }
    }
    .symbol.symbol-35px > img {
        width: 35px;
        height: 35px;
    }
    .symbol.symbol-circle, .symbol.symbol-circle > img, .symbol.symbol-circle .symbol-label {
        border-radius: 50%;
    }
    .symbol-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 10px;
    }
    .symbol-group .symbol {
        position: relative;
        z-index: 0;
        margin-left: -10px;
        transition: all 0.3s ease;
    }
    .symbol-group .symbol:hover {
        transition: all 0.3s ease;
        z-index: 1;
    }
    .symbol-group .symbol-badge {
        border: 2px solid var(--kt-body-bg);
    }
    .symbol-group .symbol-label {
        position: relative;
    }
    .symbol-group .symbol-label:after {
        display: block;
        content: " ";
        border-radius: inherit;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border: 2px solid var(--kt-symbol-border-color);
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    }
    .symbol-group.symbol-hover .symbol {
        cursor: pointer;
    }
    .symbol-group.symbol-hover .symbol {
        cursor: pointer;
    }

    .symbol-group .symbol {
        position: relative;
        z-index: 0;
        margin-left: -10px;
        transition: all 0.3s ease;
    }
    .symbol.symbol-circle, .symbol.symbol-circle > img, .symbol.symbol-circle .symbol-label {
        border-radius: 50%;
    }
    .symbol {
        display: inline-block;
        flex-shrink: 0;
        position: relative;
        border-radius: 0.475rem;
    }
    .symbol.symbol-35px .symbol-label {
        width: 35px;
        height: 35px;
    }
    .symbol.symbol-circle, .symbol.symbol-circle > img, .symbol.symbol-circle .symbol-label {
        border-radius: 50%;
    }
    .symbol-group .symbol-label {
        position: relative;
    }
    .symbol .symbol-label {
        width: 50px;
        height: 50px;
    }
    .symbol .symbol-label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: var(--kt-symbol-label-color);
        background-color: var(--kt-symbol-label-bg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 0.475rem;
    }
    .symbol.symbol-circle:after, .symbol.symbol-circle > img:after, .symbol.symbol-circle .symbol-label:after {
        border-radius: 50%;
    }

    .symbol-group .symbol-label:after {
        display: block;
        content: " ";
        border-radius: inherit;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border: 2px solid var(--kt-symbol-border-color);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .symbol .symbol-label:after {
        border-radius: 0.475rem;
    }
}
