$card-color: rgb(250, 250, 250);
$border-color: rgb(197, 197, 197);
$text-color: rgb(115, 115, 115);

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    color: $text-color;
    // background-color: $card-color;

    ~, * {
        border: none;
        color: initial;
        background-color: initial;
    }

    .card-header {
        border: none;
        font-weight: bold;
        background-color: $card-color;
    }

    .table-responsive {
        position: unset;
        margin-bottom: 10px;
    }

    .table-responsive::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .table-responsive::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .table-responsive::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .table-responsive::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .table {
        margin: 0;
    }
    .page-link{
        border-radius: 7px;
        border: 0;
        color: #5E6278;
    }
    .table {
        .badge-success{
            background-color: #50cd89;
            padding: 0.35em 0.7em;
        }
        input {
            width: 1.2rem;
            height: 1.2rem;
            vertical-align: top;
            border: 0;
            background-color: #eff2f5;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            appearance: none;
            print-color-adjust: exact;
        }

        input[type=checkbox] {
            border-radius: 0.45em;
        }

        input[type=radio] {
            border-radius: 50%;
        }

        input:active {
            filter: brightness(90%);
        }

        input:focus {
            border-color: #B5B5C3;
            outline: 0;
            box-shadow: none;
        }

        input:checked {
            background-color: #009ef7;
            border-color: #009ef7;
            background-size: 60% 60%;
        }

        input:checked[type=checkbox] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11' width='13' height='11' fill='none'%3e%3cpath d='M11.0426 1.02893C11.3258 0.695792 11.8254 0.655283 12.1585 0.938451C12.4917 1.22162 12.5322 1.72124 12.249 2.05437L5.51985 9.97104C5.23224 10.3094 4.72261 10.3451 4.3907 10.05L0.828197 6.88335C0.50141 6.59288 0.471975 6.09249 0.762452 5.7657C1.05293 5.43891 1.55332 5.40948 1.88011 5.69995L4.83765 8.32889L11.0426 1.02893Z' fill='%23ffffff'/%3e%3c/svg%3e");
        }

        input:checked[type=radio] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffffff'/%3e%3c/svg%3e");
        }

        input[type=checkbox]:indeterminate {
            background-color: #009ef7;
            border-color: #009ef7;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
        }

        input:disabled {
            pointer-events: none;
            filter: none;
            opacity: 0.5;
        }

        input[disabled] ~ .form-check-label, input:disabled ~ .form-check-label {
            cursor: default;
            opacity: 0.5;
        }

        thead {
            th:not(:first-of-type){
                padding: 1rem 1.7rem;
            }
            th {
                border: none;
                color: #A1A5B7;
                text-transform: uppercase !important;
                font-size: 0.75rem !important;
            }
        }

        tbody {
            tr {
                background-color: inherit;

                td:not(:first-of-type){
                    padding: 1rem 1.7rem;
                }
                td {
                    border-bottom: 1px solid;
                    border-bottom-color: #eeeeee;
                    vertical-align: middle;
                }
            }
        }
    }
}

