// Colors
$pink: #FA139A;
body {
    font-family: Inter, Helvetica, "sans-serif" !important;
}

html:not([dir=rtl]) .c-sidebar-nav-icon:first-child {
    margin: 0;
}
.c-sidebar-nav{
    background: #1E1E2D;
    position: unset;
}
.c-sidebar-nav-icon {
    flex: 0 0 30px;
    font-size: 1.4rem;
}

.c-sidebar {
    width: 140px;
}

@media (min-width: 992px) and (min-width: 992px) {
    html:not([dir=rtl]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper, html:not([dir=rtl]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper {
        margin-left: 140px;
    }
}
body .c-sidebar .c-sidebar-nav-link{
    color: #9899ac;
}
.c-sidebar-nav-dropdown{
    position: unset;
}
.card-header-action{
    padding: 0;
}
.c-sidebar-nav-link, .c-sidebar-nav-dropdown-toggle {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 0.8445rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    transition: background 0.3s, color 0.3s;
}

.breadcrumb-menu::before {
    display: none;
}

.breadcrumb-menu .btn-group {
    vertical-align: top;
}

.breadcrumb-menu .btn {
    padding: 0 0.75rem;
    vertical-align: top;
    border: 0;
    color: #768192;
}

.breadcrumb-menu .btn:hover, .breadcrumb-menu .btn.active {
    color: #3c4b64;
    background: transparent;
}

.breadcrumb-menu .show .btn {
    color: #3c4b64;
    background: transparent;
}

.breadcrumb-menu .dropdown-menu {
    min-width: 180px;
    line-height: 1.5;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
    list-style: none;
    border-radius: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    border-color: #d8dbe0;
}

.breadcrumb-item {
    display: flex;
}

.breadcrumb-item:not(.active) * {
    font-size: 12px;
    font-weight: 600;
    color: #8a93a2;
}

.breadcrumb-item.active {
    font-size: 12px;
    color: #5c5c5c;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '' !important;
    display: inline-block;
    width: 3px;
    height: 8px;
    margin: auto;
    margin-right: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #cecece;
}

html:not([dir=rtl]) .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.5rem;
}

*[dir=rtl] .breadcrumb-item + .breadcrumb-item::before {
    padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #8a93a2;
}

body .c-sidebar .c-sidebar-brand {
    background: #1B1B28;
    height: 105px;
    border: 0;
}

body .c-sidebar .c-sidebar-minimizer {
    background-color: transparent;
    border-top: 1px solid #ddd;
}
.c-sidebar .c-sidebar-nav-link:hover .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon {
    color: #0395fc;
}
body .c-sidebar .c-sidebar-nav-link:hover, body .c-sidebar .c-sidebar-nav-dropdown-toggle:hover, body .c-sidebar .c-sidebar-nav-item:hover, body .c-sidebar .c-sidebar-nav-item .c-active:hover, body .c-sidebar .c-sidebar-nav-item .c-active .c-sidebar-nav-icon:hover, body .c-sidebar .c-sidebar-nav-item .c-sidebar-nav-icon:hover, body .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon:hover {
    color: #fff;
    background: none;
}

.c-sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 0 0 105px;
    border: 0;
}

body .c-sidebar .c-sidebar-nav-item .c-active:not(.dropdown-item) {
    transition: color 0.2s ease;
    background-color: #1b1b28;
    color: #ffffff;
}
body .c-sidebar .c-sidebar-nav-item .c-active.dropdown-item {
    color: #0395fc;
}
.btn-primary {
    color: #fff;
    background-color: #E53EA1;
    border-color: #E53EA1;
}
.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-sm, .btn-group-sm > .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    padding: calc(0.45rem + 1px) calc(1.25rem + 1px);
    border-radius: 0.425rem
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    border: 0;
    padding: calc(0.675rem + 1px) calc(1.5rem + 1px);
}
.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
    box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled):hover,.btn-primary:not(:disabled):not(.disabled):focus,.btn-primary:not(:disabled):not(.disabled):active{
    background-image: linear-gradient(260deg,#E53EA1,#e53ea1ab);
    transition: background 1s, color 0.3s;
}
.c-sidebar {
    display: flex;
    flex: 0 0 256px;
    flex-direction: column;
    order: -1;
    width: 140px;
    padding: 0;
    box-shadow: none;
}

body .c-sidebar .c-sidebar-nav-item .c-active .c-sidebar-nav-icon:hover, body .c-sidebar .c-sidebar-nav-item .c-sidebar-nav-icon:hover{
    background: none;
}
body .c-sidebar .c-sidebar-nav-item .c-sidebar-nav-icon {
    color: #3A3A5D;
}
body .c-sidebar .c-sidebar-nav-item .c-active .c-sidebar-nav-icon{
    color: #0395fc;
}

.c-sidebar-nav-dropdown-toggle::after{
    content:none
}
li.c-sidebar-nav-item {
    margin-bottom: 10px;
}
