$bleu_stats: #00e2ff;
$blanc: #fff;
$rose: #fa319a;
$gris: #9c9b9b;

.titStats {
    color: $gris;
    font-weight: bold;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3411764706);
    padding: 10px;
    border-radius: 2rem;
}

.highcharts-credits {
    display: none !important;
}

.point_label {
    text {
        text-decoration: none !important;
    }
}

.Infirmiers_label, .Mensuels_label {
    color: $rose !important;
    fill: $rose !important;
    text-decoration: none !important;
}

.Patients_label {
    color: $gris !important;
    fill: $gris !important;
    text-decoration: none !important;
}

.Remplaçants_label, .Annuels_label {
    color: $bleu_stats !important;
    fill: $bleu_stats !important;
    text-decoration: none !important;
}


.bloc_user_register {
    background: $bleu_stats;
    color: $blanc;
    padding: 10px;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;

    .bloc {
        padding: 10px;
        font-size: 2rem;
        font-weight: 900;
    }

    .label {
        color: $bleu_stats;
        background: $blanc;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        border-radius: 3rem;
        text-align: center
    }
}

.registerDetailHeight {
    min-height: 210px;
    padding-top: 8%;

    span {
        box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3411764706);
        border-radius: 3rem;
        padding: 3px;
        width: 100%;
        display: block;
        font-size: 2rem;


    }

    .lib {
        span {
            background: $rose;
            color: #fff;
        }
    }

    .remp {
        color: $bleu_stats;

        span {
            background: $bleu_stats;
            color: #fff;
        }
    }
}

.registerDetail {
    margin-top: 2rem;
    color: $rose;
    font-weight: bold;
    font-size: 1.5rem;

    /*  span {
          box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3411764706);
          border-radius: 3rem;
          padding: 3px;
          width: 100%;
          display: block;
          font-size: 2rem;


      }*/

    /* .lib{
         span{
             background: $rose;
             color: #fff;
         }
     }

     .remp {
         color: $bleu_stats;
         span{
             background: $bleu_stats;
             color: #fff;
         }
     }*/
}

#container {
    max-height: 200px;
}

.highcharts-figure {
    min-width: 320px;
    max-width: 100%;
    max-height: 225px;
    margin: 0 auto;
}

.highcharts-data-table table {
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.legend {
    &:before {
        display: block;
        content: "";
        width: 20px;
        height: 5px;
        margin-top: 1.5%;
        position: absolute;
        margin-left: 26%;
        border-radius: 2rem;
        box-shadow: 1px 1px #00000042;

        @media screen and (max-width: 1700px) {
            margin-left: 6%;
        }
    }

    &.rose {
        &:before {
            background: $rose;
        }

        color: $rose !important;
    }

    &.bleu {
        &:before {
            background: $bleu_stats;
        }

        color: $bleu_stats !important;
    }

    &.gris {
        &:before {
            background: $gris;
        }

        color: $gris;
    }

    span {
        display: block;
        float: left;

        &:first-of-type {
            width: 350px !important;
            text-align: right;
            @media screen and (max-width: 1700px) {
                width: 200px !important;
            }
        }

        width: 100px !important;
        box-shadow: none !important;
        border-radius: 0 !important;
        padding: 0 !important;
        font-size: 1rem !important;
        background: none !important;
    }


    font-size: 15px;
    font-weight: 900;
    height: 10px;



}

