
body{
    .btn *{
        font-size: 0.9rem;
    }
    .btn{
        font-size: 0.9rem;
        padding: 5px 20px!important;
    }
    table .btn{
        font-size: 0.8rem;
        padding: 3px 20px!important;
    }

    #timeline{
        max-height: 43vh;
        overflow-y: auto;
    }
    #timeline::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    @media screen and (max-width: 468px) {
        .c-subheader{
            background: transparent;
            border: 0;
        }
    }
    #timeline::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    #timeline::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
    .alert-required{
        font-size: 1.2em;
        color: #ef0101;
        padding-left:0.1em;
    }
    #timeline::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .c-sidebar {
        position: fixed;
        color: #2c384aae;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(var(--cui-elevation-base-color,60,75,100),.14),0 3px 1px -2px rgba(var(--cui-elevation-base-color,60,75,100),.12),0 1px 5px 0 rgba(var(--cui-elevation-base-color,60,75,100),.20);
        .c-sidebar-nav-link,
        .c-sidebar-nav-dropdown-toggle,
        .c-sidebar-nav-item,
        .c-sidebar-nav-item .c-active,
        .c-sidebar-nav-item .c-sidebar-nav-icon,
        .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon{
            color: #2c384aae;
            &:hover{
                color: #fff;
                background: #0395fc;
            }
        }
        .c-sidebar-nav-item .c-active .c-sidebar-nav-icon{
            color: white;
        }
        .c-sidebar-nav-title {
            color: rgb(50 31 219 / 50%);
        }
        .c-sidebar-brand {
            background: transparent;
            height: 56px;
            border-bottom: 1px solid #ddd;
        }
        .c-sidebar-minimizer {
            background-color: transparent;
            border-top: 1px solid #ddd;
        }
        .c-sidebar-nav-item .c-active{
            color: #9c27b0 ;
        }
        .c-sidebar-nav-dropdown{
            &.c-show .c-sidebar-nav-dropdown-toggle{
                background: #9c27b0;
                .c-sidebar-nav-icon{
                    color: #fff;
                }
            }
            .c-sidebar-nav-dropdown-items{
                background: #fff;
                a{
                    &.c-active{
                        color: #9c27b0 !important;
                    }
                    color: #2c384aae !important;
                }
                .c-sidebar-nav-item:hover{
                    a{
                        color: #fff !important;
                    }
                }
            }
        }
    }
    .avatar-upload {
        position: relative;
        // max-width: 205px;
        // margin: 50px auto;
        .avatar-edit {
            position: absolute;
            left: 75px;
            z-index: 1;
            bottom: 5px;
            input {
                display: none;
                + label {
                    display: inline-block;
                    width: 28px;
                    height: 28px;
                    margin-bottom: 0;
                    border-radius: 100%;
                    background: #FFFFFF;
                    border: 1px solid transparent;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                    cursor: pointer;
                    font-weight: normal;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                    }
                    &:after {
                        content: "\f304";
                        font-family: 'FontAwesome';
                        color: #757575;
                        position: absolute;
                        top: 10px;
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: auto;
                    }
                    .icon{
                        position: absolute;
                        top: 7px;
                        left: 6px;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
        }
        .avatar-preview {
            width: 100px;
            height: 100px;
            position: relative;
            border-radius: 100%;
            border: 1px solid #F8F8F8;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            > div {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    form{
        .switch-block{
            background-color: transparent;
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid;
            label {
                color: #000;
            }
        }
    }

    .switch-block {
        width: 300px;
        border: 1px solid;
    }

    .switch-toggle input {
        width: 0px;
        visibility: hidden;
    }

    .sticky-col{
        position: -webkit-sticky;
        position: sticky;
        width: 100px;
        min-width: 100px;
        right: 0px;
        &:nth-child(even) {background: #fff}
        &:nth-child(odd) {background: rgba(0, 0, 21, 0.05)}
    }

    .table-responsive{
        position: relative;
        overflow: auto;
        white-space: nowrap;
    }

    @keyframes spinner {
        to {transform: rotate(360deg);}
    }

    .spinner:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border-top: 2px solid #9c27b0;
        border-right: 2px solid transparent;
        animation: spinner .6s linear infinite;
    }

    .opacity-0{
        opacity: 0 !important;
    }

    .opacity-1{
        opacity: 1 !important;
    }

    .nav-tabs .nav-link{
        color: #A1A5B7;
        padding: 0.2rem 0;
        margin: 0 1rem;
        font-size: 17px;
        font-weight: 500;
    }

    .nav-tabs .nav-link:hover{
        border: 0;
        border-bottom: 1px solid #9c27b0;
        border-bottom-width: 2px;
    }
    .nav-tabs .nav-link.active{
        border: 0;
        color: #9c27b0;
        background-color: transparent;
        border-bottom: 1px solid #9c27b0;
        transition: color 0.2s ease;
        border-bottom-width: 2px;
    }
    .card{
        color: unset;
    }

    [id$="-bulkActionsWrapper"] .dropdown{
        display: block !important ;
    }

    [id$="-bulkActionsWrapper"] .dropdown .dropdown-toggle,[x-data="{ open: false }"] button.dropdown-toggle{
        color: #eb00d9;
        background-color: #f25cb52e;
        padding: 7px 30px!important;
    }
    /* Basic Rules */
    .switch input {
        display:none;
    }
    .switch {
        display:inline-block;
        width:60px;
        height:30px;
        position:relative;
    }
    /* Style Wired */
    .slider {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        border-radius:30px;
        box-shadow:0 0 0 2px #777, 0 0 4px #777;
        cursor:pointer;
        border:4px solid transparent;
        overflow:hidden;
        transition:.4s;
    }
    .slider:before {
        position:absolute;
        content:"";
        width:100%;
        height:100%;
        background:#777;
        border-radius:30px;
        transform:translateX(-30px);
        transition:.4s;
    }

    input:checked + .slider:before {
        transform:translateX(30px);
        background: #fa319a;
    }
    input:checked + .slider {
        box-shadow:0 0 0 2px #0395fc,0 0 2px rgb(0, 9, 255);
    }

    /* Style Flat */
    .switch.flat .slider {
        box-shadow:none;
    }
    .switch.flat .slider:before {
        background:#FFF;
    }
    .switch.flat input:checked + .slider:before {
        background:white;
    }
    .switch.flat input:checked + .slider {
        background:limeGreen;
    }

    .accordion {
        max-width: 600px;
        margin: 0 auto;
    }

    .accordion-item {
        border-bottom: 1px solid #ccc;
    }

    .accordion-header {
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion-item.active .accordion-content {
        max-height: 1000px;
    }

    html {
        box-sizing: border-box !important;
    }

    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .acc-container {
        max-width: 700px;
        width: 100%;
    }

    .acc {
        margin-bottom: 10px;
    }

    .acc-head {
        background-color: white;
        padding: 1px 7px;
        font-size: 14px;
        position: relative;
        cursor: pointer;
        padding-top: 17px;
    }

    .acc-head::before,
    .acc-head::after {
        content: '';
        position: absolute;
        top: 50%;
        background-color: black;
        transition: all .3s;
    }

    .acc-head::before {
        right: 25px;
        width: 2px;
        height: 10px;
        margin-top: -6px;
        background: black;
    }

    .acc-head::after {
        right: 21px;
        width: 10px;
        height: 2px;
        margin-top: -2px;
        background: black;
    }

    .acc-head p {
        color: black;
        font-weight: bold;
    }

    .acc-content {
        padding: 7px 10px;
        display: none;
        border-top: 1px solid darkgrey;
    }

    .acc-head.active::before {
        transform: rotate(90deg);
    }

    label {
        font-weight: 600;
        color: #414141;
    }
    body {
        background: #f1f1f1;
    }
    .box8{
        background:  #ffffff;
    }
    .mx-t3{
        margin-top: -3rem;
    }

    .badge {
        font-size: 10px;
        background-color: red;
        color: white;
        border-radius: 0.25em;
    }

    .loading-spinner{
        width: 8%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .u-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}
