#patient-card {
    .menu {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        margin: 0 auto;
        list-style: none;
        padding-top: 35px;
        padding-left: 40px;
        padding-bottom: 40px;
    }

    .menu li {
        width: 100px;
        font-weight: 100;
        height: 50px;
        transition: background-position-x 0.9s linear;
        text-align: center;
    }

    .menu li a {
        font-size: 20px;
        color: #777;
        font-family: sans-serif;
        padding-bottom: 15px;
        text-decoration: none;
        transition: all 0.45s;
    }

    .menu li a.active {
        color: rgb(82, 108, 255);

    }

    a {
        position: relative;

    }


    .menu li a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: rgb(82, 108, 255);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }


    .menu li a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    .menu li:hover a {
        color: #000;
    }

    .menu li:not(:last-child) {
        margin-right: 10px;
    }


    @keyframes line {
        0% {
            background-position-x: 390px;
        }
    }


    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card-body h3 {
        color: #0069d9;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }


    .table {
        border-collapse: collapse;
        box-shadow: 0 5px 10px #e1e5ee;
        background-color: white;
        text-align: left;
        overflow: hidden;
    }

    .table thead tr {
        background-color: #fbcbff;
        color: #000;
        text-align: left;

    }

    .table th,
    .table td {
        font-weight: 500;
        font-size: 1.275rem;
        background-color: white;

    }

    .table tbody tr {
        border-bottom: 3px solid #f9e6e6;
        text-align: center;
        padding-top: 50px;
        padding-left: 50px;
        justify-content: center;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
        border-bottom: 2px solid #4f78ff;
    }

    .table tbody tr.active-row {
        font-weight: bold;
        font-family: sans-serif;

        color: #fbcbff;
    }

}
