
#profile-card {
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1px;
        margin-right: 2px;
        margin-left: 2px;
    }
    .imgg {
        border: 0;
        width: 160px;
        height: 160px;
        max-width: none;
        border-radius: 5%;
    }

    .flex-stack {
        justify-content: space-between;
        align-items: center;
    }

    .flex-wrap {
        flex-wrap: wrap !important;
        margin-left: 10px;
    }


    .flex-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-column {
        flex-direction: column !important;
    }

    .d-flex {
        display: flex !important;
    }

    .border-dashed {
        border-style: dashed !important;
        border-color: #E1E3EA;
        border-width: 2px;
    }

    .min-w-115px {
        min-width: 125px !important;
    }

    .rounded {
        border-radius: 0.475rem !important;
    }

    .mb-4 {
        margin-bottom: 1rem !important;
    }

    .me-7 {
        margin-right: 1.75rem !important;
    }

    .py-3 {
        padding-top: 0.6rem !important;
        padding-bottom: 0.6rem !important;
    }

    .px-4 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .mb-3 {
        margin-bottom: 0.75rem !important;
    }

    .fw-bold {
        font-weight: 400 !important;
        color: #3F4254;
    }

    .fs-2 {
        font-size: 23px;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    .text-gray-400 {
        color: #B5B5C3 !important;
    }

    .fw-semibold {
        font-weight: 500 !important;
    }

    .fs-6 {
        font-size: 0.9rem !important;
    }

    .svg-icon.svg-icon-success {
        color: #50cd89;
    }

    .svg-icon.svg-icon-danger {
        color: #f1416c;
    }

    .svg-icon.svg-icon-3 svg {
        height: 1.35rem !important;
        width: 1.35rem !important;
    }

    .svg-icon {
        line-height: 1;
        color: #A1A5B7;
    }

    .me-2 {
        margin-right: 0.5rem !important;
    }

}


// profile card
.text-gray-800 {
    color: #3F4254;
    font-size: 0.6rem;
}


.fs-6 {
    font-size: 0.9rem !important;
}

.me-2 {
    margin-right: 0.2rem !important;
}

.mb-7 {
    margin-bottom: 1.75rem !important;
}


