// Colors
$pink: #FA139A;
body {
    font-family: Inter, Helvetica, "sans-serif" !important;
}

html:not([dir=rtl]) .c-sidebar-nav-icon:first-child {
    margin: 0;
}

.c-sidebar-nav-icon {
    flex: 0 0 30px;
    font-size: 1.4rem;
}
body .c-sidebar .c-sidebar-nav-dropdown-toggle:hover,body .c-sidebar .c-sidebar-nav-link:hover,body .c-sidebar .c-sidebar-nav-item:hover{
    background: #0395fc;
}
.bg-info {
    --kt-bg-rgb-color: var(--kt-info-rgb);
    background-color: var(--kt-info) !important;
}

.bullet-vertical {
    width: 4px;
    height: 8px;
}
.bullet {
    display: inline-block;
    background-color: var(--kt-bullet-bg-color);
    border-radius: 6px;
    width: 4px;
    height: 4px;
    flex-shrink: 0;
}

@media (min-width: 1200px) {
    .fs-1 {
        font-size: 1.75rem !important;
    }
    .fs-2 {
        font-size: 1.5rem !important;
    }
    .fs-3 {
        font-size: 1.35rem !important;
    }
    .fs-2x {
        font-size: 2rem !important;
    }
    .fs-2qx {
        font-size: 2.25rem !important;
    }
    .fs-2hx {
        font-size: 2.5rem !important;
    }
    .fs-2tx {
        font-size: 2.75rem !important;
    }
    .fs-3x {
        font-size: 3rem !important;
    }
    .fs-3qx {
        font-size: 3.25rem !important;
    }
    .fs-3hx {
        font-size: 3.5rem !important;
    }
    .fs-3tx {
        font-size: 3.75rem !important;
    }
    .fs-4x {
        font-size: 4rem !important;
    }
    .fs-4qx {
        font-size: 4.25rem !important;
    }
    .fs-4hx {
        font-size: 4.5rem !important;
    }
    .fs-4tx {
        font-size: 4.75rem !important;
    }
    .fs-5x {
        font-size: 5rem !important;
    }
    .fs-5qx {
        font-size: 5.25rem !important;
    }
    .fs-5hx {
        font-size: 5.5rem !important;
    }
    .fs-5tx {
        font-size: 5.75rem !important;
    }
    .fs-sm-1 {
        font-size: 1.75rem !important;
    }
    .fs-sm-2 {
        font-size: 1.5rem !important;
    }
    .fs-sm-3 {
        font-size: 1.35rem !important;
    }
    .fs-sm-2x {
        font-size: 2rem !important;
    }
    .fs-sm-2qx {
        font-size: 2.25rem !important;
    }
    .fs-sm-2hx {
        font-size: 2.5rem !important;
    }
    .fs-sm-2tx {
        font-size: 2.75rem !important;
    }
    .fs-sm-3x {
        font-size: 3rem !important;
    }
    .fs-sm-3qx {
        font-size: 3.25rem !important;
    }
    .fs-sm-3hx {
        font-size: 3.5rem !important;
    }
    .fs-sm-3tx {
        font-size: 3.75rem !important;
    }
    .fs-sm-4x {
        font-size: 4rem !important;
    }
    .fs-sm-4qx {
        font-size: 4.25rem !important;
    }
    .fs-sm-4hx {
        font-size: 4.5rem !important;
    }
    .fs-sm-4tx {
        font-size: 4.75rem !important;
    }
    .fs-sm-5x {
        font-size: 5rem !important;
    }
    .fs-sm-5qx {
        font-size: 5.25rem !important;
    }
    .fs-sm-5hx {
        font-size: 5.5rem !important;
    }
    .fs-sm-5tx {
        font-size: 5.75rem !important;
    }
    .fs-md-1 {
        font-size: 1.75rem !important;
    }
    .fs-md-2 {
        font-size: 1.5rem !important;
    }
    .fs-md-3 {
        font-size: 1.35rem !important;
    }
    .fs-md-2x {
        font-size: 2rem !important;
    }
    .fs-md-2qx {
        font-size: 2.25rem !important;
    }
    .fs-md-2hx {
        font-size: 2.5rem !important;
    }
    .fs-md-2tx {
        font-size: 2.75rem !important;
    }
    .fs-md-3x {
        font-size: 3rem !important;
    }
    .fs-md-3qx {
        font-size: 3.25rem !important;
    }
    .fs-md-3hx {
        font-size: 3.5rem !important;
    }
    .fs-md-3tx {
        font-size: 3.75rem !important;
    }
    .fs-md-4x {
        font-size: 4rem !important;
    }
    .fs-md-4qx {
        font-size: 4.25rem !important;
    }
    .fs-md-4hx {
        font-size: 4.5rem !important;
    }
    .fs-md-4tx {
        font-size: 4.75rem !important;
    }
    .fs-md-5x {
        font-size: 5rem !important;
    }
    .fs-md-5qx {
        font-size: 5.25rem !important;
    }
    .fs-md-5hx {
        font-size: 5.5rem !important;
    }
    .fs-md-5tx {
        font-size: 5.75rem !important;
    }
    .fs-lg-1 {
        font-size: 1.75rem !important;
    }
    .fs-lg-2 {
        font-size: 1.5rem !important;
    }
    .fs-lg-3 {
        font-size: 1.35rem !important;
    }
    .fs-lg-2x {
        font-size: 2rem !important;
    }
    .fs-lg-2qx {
        font-size: 2.25rem !important;
    }
    .fs-lg-2hx {
        font-size: 2.5rem !important;
    }
    .fs-lg-2tx {
        font-size: 2.75rem !important;
    }
    .fs-lg-3x {
        font-size: 3rem !important;
    }
    .fs-lg-3qx {
        font-size: 3.25rem !important;
    }
    .fs-lg-3hx {
        font-size: 3.5rem !important;
    }
    .fs-lg-3tx {
        font-size: 3.75rem !important;
    }
    .fs-lg-4x {
        font-size: 4rem !important;
    }
    .fs-lg-4qx {
        font-size: 4.25rem !important;
    }
    .fs-lg-4hx {
        font-size: 4.5rem !important;
    }
    .fs-lg-4tx {
        font-size: 4.75rem !important;
    }
    .fs-lg-5x {
        font-size: 5rem !important;
    }
    .fs-lg-5qx {
        font-size: 5.25rem !important;
    }
    .fs-lg-5hx {
        font-size: 5.5rem !important;
    }
    .fs-lg-5tx {
        font-size: 5.75rem !important;
    }
}
.min-h-70px {
    min-height: 70px !important;
}
.bg-info {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}
.me-4 {
    margin-right: 1rem !important;
}
.align-items-center {
    align-items: center !important;
}
.mh-100 {
    max-height: 100% !important;
}
@media (min-width: 992px) and (min-width: 992px) {
    html:not([dir=rtl]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper, html:not([dir=rtl]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper {
        margin-left: 130px;
    }
}
img.patient_img {
    width: 150px;
    border-radius: 10px;
}
.c-sidebar-nav-link, .c-sidebar-nav-dropdown-toggle {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 0.8445rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    transition: background 0.3s, color 0.3s;
}

.breadcrumb-menu::before {
    display: none;
}

.breadcrumb-menu .btn-group {
    vertical-align: top;
}

.breadcrumb-menu .btn {
    padding: 0 0.75rem;
    vertical-align: top;
    border: 0;
    color: #768192;
}

.breadcrumb-menu .btn:hover, .breadcrumb-menu .btn.active {
    color: #3c4b64;
    background: transparent;
}

.breadcrumb-menu .show .btn {
    color: #3c4b64;
    background: transparent;
}

.breadcrumb-menu .dropdown-menu {
    min-width: 180px;
    line-height: 1.5;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
    list-style: none;
    border-radius: 0;
    border-bottom: 1px solid;
    background-color: transparent;
    border-color: #d8dbe0;
}

.breadcrumb-item {
    display: flex;
}

.breadcrumb-item:not(.active) * {
    font-size: 12px;
    font-weight: 600;
    color: #8a93a2;
}

.breadcrumb-item.active {
    font-size: 12px;
    color: #5c5c5c;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '' !important;
    display: inline-block;
    width: 3px;
    height: 8px;
    margin: auto;
    margin-right: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #cecece;
}

html:not([dir=rtl]) .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.5rem;
}

*[dir=rtl] .breadcrumb-item + .breadcrumb-item::before {
    padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #8a93a2;
}

body .c-sidebar .c-sidebar-brand {
    background: transparent;
    height: 105px;
    border: 0;
}

body .c-sidebar .c-sidebar-minimizer {
    background-color: transparent;
    border-top: 1px solid #ddd;
}

.c-sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 0 0 105px;
    border: 0;
}

body .c-sidebar .c-sidebar-nav-item .c-active {
    color: #0395fc;
}
.card-header-action{
    padding: 0;
}
.c-sidebar {
    position: unset;
    display: flex;
    flex: 0 0 256px;
    flex-direction: column;
    order: -1;
    width: 140px;
    padding: 0;
    box-shadow: none;
}
.btn-primary {
    color: #fff;
    background-color: #E53EA1;
    border-color: #E53EA1;
}
.btn-primary:hover {
    color: #fff;
    background-color: #E53ED8;
    border-color: #E53ED8;
}
.c-sidebar-nav,.c-sidebar-nav-dropdown{
    position: unset;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon).btn-sm, .btn-group-sm > .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
    padding: calc(0.55rem + 1px) calc(1.25rem + 1px);
}

 .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
     border: 0;
     padding: calc(0.775rem + 1px) calc(1.5rem + 1px);
 }
 .btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
     box-shadow: none !important;
 }
@media (min-width: 992px) and (min-width: 992px) {
    html:not([dir=rtl]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper,
    html:not([dir=rtl]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper {
        margin-left: 140px;
    }
}
body .c-sidebar .c-sidebar-nav-item .c-active,body .c-sidebar .c-sidebar-nav-item .c-active .c-sidebar-nav-icon:hover, body .c-sidebar .c-sidebar-nav-item .c-sidebar-nav-icon:hover{
    background: none;
}
body .c-sidebar .c-sidebar-nav-item .c-active{
    background-color: #0395fc;
    color: white;
}
.c-sidebar-nav-dropdown-toggle::after{
    content:none
}
li.c-sidebar-nav-item {
    margin-bottom: 10px;
}
body .c-sidebar .c-sidebar-nav-item .c-active.dropdown-item{
    background: none;
    color: #0395fc;
}
.dropdown-item{
    display: flex;
}
